################################################################################
# Ignore everything; use explicit allowlist.                                   #
################################################################################
*
!/.devcontainer
!/.devcontainer/devcontainer.json
!/.devcontainer/Dockerfile
!/.gitattributes
!/.github
!/.github/workflows
!/.github/workflows/default.yml
!/.gitignore
!/.vscode
!/.vscode/extensions.json
!/.vscode/settings.json
!/.vscode/tasks.json
!/App.js
!/assets
!/assets/adaptive-icon.png
!/assets/favicon.png
!/assets/icon.png
!/assets/splash.png
!/babel.config.js
!/modules
!/modules/home
!/modules/home/App.js
!/modules/settings
!/modules/settings/App.js
!/package.json
!/readme.md
