################################################################################
# Default; text with Unix line endings.                                        #
################################################################################
* text=auto eol=lf
