################################################################################
# Ignore everything; use explicit allowlist.                                   #
################################################################################
/*

########################################
# Allowlist.                           #
########################################
!.devcontainer.json
!.github/
!.gitignore
!App.js
!app.json
!assets/
!babel.config.js
!package.json
!readme.md

########################################
# Allowlist override; denylist.        #
########################################
